@charset "UTF-8";
/*VA AL INICIO */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}
html body .contenedorPrincipal {
  display: grid;
  grid-template-columns: repeat(4, 0.2fr);
  grid-template-rows: repeat(6, 0.1fr);
  grid-template-areas: "perfil perfil perfil perfil " "header header header header" "carousel carousel carousel carousel" "productos productos productos productos" "redes redes redes redes" "pie pie pie pie";
  justify-content: center;
  background-color: white;
}

.tituloPrincipal {
  color: palevioletred;
  font-weight: bold;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  font-size: 20px;
  padding: 1% 1%;
}

.perfil {
  grid-area: perfil;
  background-color: white;
}
.perfil .ancho {
  display: flex;
  justify-content: space-around;
  align-items: center;
  align-content: center;
  width: 100%;
  padding: 0;
  margin: 0;
}
.perfil .ancho .imagenTitutlo .sizeLogo {
  width: 170px;
  height: 90px;
}
.perfil .ancho .registrarse .iconoInicioSesion {
  width: 28px;
  height: 28px;
}
.perfil .ancho .registrarse a {
  text-decoration: none;
}

.header {
  grid-area: header;
  /*     .nav { */
  /*      width: 100%; */
}
.header .menu {
  /*     background-color: $bkgdHeaderCont; */
  /*      background: linear-gradient(to bottom, rgb(240, 39, 163), rgb(248, 205, 231)); */
  background: linear-gradient(0deg, rgb(195, 34, 51) 0%, rgba(247, 64, 228, 0.673) 100%);
  font-size: 22px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  display: flex;
  justify-content: space-around;
  align-items: center;
  align-content: center;
  width: 100%;
  padding: 0;
  margin: 0;
  list-style: none;
  /* focus para el texto */
}
.header .menu li a {
  text-decoration: none;
  color: gold;
}
.header .menu li a:hover {
  color: white;
}
.header .menu input:focus {
  height: 30px;
  background-color: white;
}
.header .menu input[type=checkbox]:checked {
  box-shadow: 0 0 0 3px white;
}

/* } */
.contenedorCarousel {
  grid-area: carousel;
  display: flex;
  justify-content: space-around;
  align-items: center;
  align-content: center;
  width: 100%;
  padding: 0;
  margin: 0;
}
.contenedorCarousel .tituloCarousel {
  text-align: center;
  color: brown;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
  filter: invert(108%);
}

.productos {
  grid-area: productos;
}
.productos .tituloPrincipal1 {
  color: palevioletred;
  font-weight: bold;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  font-size: 20px;
  padding: 1% 1%;
}
.productos .tituloPrincipal2 {
  color: palevioletred;
  font-weight: bold;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  font-size: 20px;
  padding: 1% 1%;
}
.productos .princContenedorFlores {
  display: flex;
  justify-content: space-around;
  align-items: center;
  align-content: center;
  width: 100%;
  padding: 0;
  margin: 0;
}
.productos .princContenedorFlores .spaceImgPrincipal {
  padding: 0 1px;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  color: brown;
  font-size: 15px;
}
.productos .princContenedorFlores .spaceImgPrincipal .subtituloPrincipal {
  text-align: center;
  color: yellowgreen;
  font-weight: bold;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  font-size: 20px;
}
.productos .princContenedorFlores .spaceImgPrincipal .sizePrincImage {
  width: 280px;
  height: 260px;
  transition: all 1s;
}
.productos .princContenedorFlores .spaceImgPrincipal .sizePrincImage:hover {
  transform: scale(1.1, 1.1);
}
.productos .princContenedorFlores .spaceImgPrincipal .prinBtnCarForm {
  text-align: center;
}
.productos .princContenedorFlores .spaceImgPrincipal .prinBtnCarForm .prinBtnCar {
  cursor: pointer;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  font-size: 20px;
  text-align: center;
  text-transform: uppercase;
  color: yellowgreen;
}
.productos .princContenedorPeluches {
  display: flex;
  justify-content: space-around;
  align-items: center;
  align-content: center;
  width: 100%;
  padding: 0;
  margin: 0;
}
.productos .princContenedorPeluches .spaceImgPrincipal {
  padding: 0 1px;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  color: brown;
  font-size: 15px;
}
.productos .princContenedorPeluches .spaceImgPrincipal .subtituloPrincipal {
  text-align: center;
  color: yellowgreen;
  font-weight: bold;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  font-size: 20px;
}
.productos .princContenedorPeluches .spaceImgPrincipal .sizePrincImage {
  width: 280px;
  height: 260px;
  transition: all 1s;
}
.productos .princContenedorPeluches .spaceImgPrincipal .sizePrincImage:hover {
  transform: scale(1.1, 1.1);
}
.productos .princContenedorPeluches .spaceImgPrincipal .prinBtnCarForm {
  text-align: center;
}
.productos .princContenedorPeluches .spaceImgPrincipal .prinBtnCarForm .prinBtnCar {
  cursor: pointer;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  font-size: 20px;
  text-align: center;
  text-transform: uppercase;
  color: yellowgreen;
}
.productos .princContenedorPeluchesP {
  display: flex;
  justify-content: space-around;
  align-items: center;
  align-content: center;
  width: 100%;
  padding: 0;
  margin: 0;
}
.productos .princContenedorPeluchesP .spaceImgPrincipal {
  padding: 0 1px;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  color: brown;
  font-size: 15px;
}
.productos .princContenedorPeluchesP .spaceImgPrincipal .subtituloPrincipal {
  text-align: center;
  color: yellowgreen;
  font-weight: bold;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  font-size: 20px;
}
.productos .princContenedorPeluchesP .spaceImgPrincipal .sizePrincImage {
  width: 280px;
  height: 260px;
  transition: all 1s;
}
.productos .princContenedorPeluchesP .spaceImgPrincipal .sizePrincImage:hover {
  transform: scale(1.1, 1.1);
}
.productos .princContenedorPeluchesP .spaceImgPrincipal .prinBtnCarForm {
  text-align: center;
}
.productos .princContenedorPeluchesP .spaceImgPrincipal .prinBtnCarForm .prinBtnCar {
  cursor: pointer;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  font-size: 20px;
  text-align: center;
  text-transform: uppercase;
  color: yellowgreen;
}

.redes {
  grid-area: redes;
  background-color: rgb(247, 200, 207);
  background-image: url(../assets/img/fondoRedes.jfif);
}
.redes .contenedorRedes {
  display: flex;
  justify-content: space-around;
  align-items: center;
  align-content: center;
  width: 100%;
  padding: 0;
  margin: 0;
}
.redes .contenedorRedes .redesContGeneral {
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  color: brown;
  font-size: 15px;
}
.redes .contenedorRedes .redesContGeneral li {
  list-style: none;
}
.redes .contenedorRedes .redesContGeneral li a {
  text-decoration: none;
}
.redes .contenedorRedes .redesContGeneral .colorLink {
  color: black;
}
.redes .contenedorRedes .redesContGeneral .colorLink:hover {
  color: blueviolet;
  font-weight: bold;
}
.redes .contenedorRedes .arriba a {
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  font-size: 20px;
  list-style: none;
  text-decoration: none;
  color: brown;
}
.redes .contenedorRedes .redesSociales .redesComentario {
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  font-size: 20px;
}
.redes .contenedorRedes .redesSociales .redesSizeIcon {
  width: 50px;
  height: 50px;
  margin: 5px;
  border-style: groove;
}

footer {
  grid-area: pie;
  background-color: rgb(230, 237, 245);
  background-image: url(../assets/img/fondoFooter.jfif);
}
footer .contenedorFooter {
  display: flex;
  justify-content: space-around;
  align-items: center;
  align-content: center;
  width: 100%;
  padding: 0;
  margin: 0;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  color: brown;
  font-size: 15px;
}
footer .contenedorFooter .footerGeneral li {
  list-style: none;
}
footer .contenedorFooter .footerGeneral li a {
  text-decoration: none;
}
footer .contenedorFooter .footerGeneral .colorLink {
  color: black;
}
footer .contenedorFooter .footerGeneral .colorLink:hover {
  color: blueviolet;
  font-weight: bold;
}
footer .contenedorFooter .footerGeneral .titleFooter {
  font-size: 15px;
}
footer .contenedorFooter .footerPoliticas li {
  list-style: none;
}
footer .contenedorFooter .footerPoliticas li a {
  text-decoration: none;
}
footer .contenedorFooter .footerPoliticas .colorLink {
  color: black;
}
footer .contenedorFooter .footerPoliticas .colorLink:hover {
  color: blueviolet;
  font-weight: bold;
}
footer .contenedorFooter .footerPoliticas .titleFooter {
  font-size: 15px;
}
footer .contenedorFooter .footerSuscribete li {
  list-style: none;
}
footer .contenedorFooter .footerSuscribete li a {
  text-decoration: none;
}
footer .contenedorFooter .footerSuscribete .colorLink {
  color: black;
}
footer .contenedorFooter .footerSuscribete .colorLink:hover {
  color: blueviolet;
  font-weight: bold;
}
footer .contenedorFooter .footerSuscribete .titleFooter {
  font-size: 15px;
}
footer .contenedorFooter .sizeIconEmailFooter {
  width: 30px;
  margin: 3px;
}

/* TAMAÑO TABLET 768PX */
@media screen and (max-width: 768px) {
  .contenedorPrincipal {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-template-areas: "perfil perfil" "header productos" "redes footer";
    justify-content: center;
    place-items: center;
  }
  .contenedorPrincipal .perfil .ancho {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .contenedorPrincipal .header {
    display: flex;
  }
  .contenedorPrincipal .header .menu {
    flex-wrap: wrap;
    align-items: flex-start;
    align-content: flex-start;
    justify-content: space-between;
  }
  .contenedorPrincipal .productos .spaceImgPrincipal {
    padding: 0 1px;
    margin: 1px 1px;
  }
  .contenedorPrincipal .productos .spaceImgPrincipal .sizePrincImage {
    width: 117px;
    height: 70px;
  }
  .contenedorPrincipal .productos .spaceImgPrincipal .subtituloPrincipal {
    font-size: 10px;
  }
  .contenedorPrincipal .productos .spaceImgPrincipal .prinBtnCarForm .prinBtnCar {
    font-size: 10px;
  }
  .contenedorPrincipal .contenedorCarousel {
    visibility: hidden;
    content-visibility: hidden;
  }
  .contenedorPrincipal .redes {
    display: none;
  }
}
/* TAMAÑO MOBILE 500PX O MENOS */
@media screen and (max-width: 500px) {
  .contenedorPrincipal {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 0.3fr, 0.2fr 1fr 0.3fr;
    grid-template-areas: "perfil" "header" "productos" "footer";
    justify-content: center;
    place-items: center;
  }
  .contenedorPrincipal .perfil .ancho {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .contenedorPrincipal .header .menu {
    display: flex;
    flex-direction: column;
  }
  .contenedorPrincipal .contenedorCarousel {
    visibility: hidden;
    content-visibility: hidden;
  }
  .contenedorPrincipal .productos .tituloPrincipal {
    font-size: 13px;
  }
  .contenedorPrincipal .productos .princContenedorFlores {
    display: flex;
    flex-direction: column;
    place-items: center;
    text-align: center;
    align-items: center;
    align-content: center;
  }
  .contenedorPrincipal .productos .princContenedorPeluches {
    display: flex;
    flex-direction: column;
    place-items: center;
    text-align: center;
    align-items: center;
    align-content: center;
  }
  .contenedorPrincipal .productos .spaceImgPrincipal {
    padding: 0 1px;
    margin: 1px 1px;
  }
  .contenedorPrincipal .productos .spaceImgPrincipal .prinBtnCarForm .prinBtnCar {
    font-size: 10px;
  }
  .contenedorPrincipal .productos .spaceImgPrincipal .sizePrincImage {
    width: 150px;
    height: 90px;
  }
  .contenedorPrincipal .productos .fontContactos {
    font-weight: none;
    font-size: 15px;
  }
  .contenedorPrincipal .productos .formPerfilBtnContactos {
    font-size: 15px;
    color: rgb(84, 82, 179);
    background-color: rgb(53, 230, 230);
  }
  .contenedorPrincipal .contenedorRedes {
    visibility: hidden;
    content-visibility: hidden;
  }
  .contenedorPrincipal .footer .contenedorFooter {
    font-size: 10px;
  }
  .contenedorPrincipal .footer .contenedorFooter .titleFooter {
    font-size: 10px;
  }
  .contenedorPrincipal .footer .contenedorFooter .sizeIconEmailFooter {
    width: 15px;
    margin: 1px;
  }
  .contenedorPrincipal .contRegistrar {
    font-size: 13px;
  }
  .contenedorPrincipal .contRegistrar .formPerfilSelected {
    font-size: 11px;
  }
  .contenedorPrincipal .contRegistrar .formPerfilBtn {
    font-size: 15px;
  }
  .contenedorPrincipal .contRegistrar .tituloPrincipal {
    font-size: 15px;
  }
  .contenedorPrincipal .tituloPrincArreglos {
    font-size: 10px;
  }
  .contenedorPrincipal .tituloPrincPeluches {
    font-size: 9px;
  }
  .contenedorPrincipal .tituloPrincipal1 {
    font-size: 10px;
  }
  .contenedorPrincipal .tituloPrincipal2 {
    color: palevioletred;
    font-size: 10px;
  }
}
.formPerfil {
  font-size: 25px;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  font-size: 20px;
  color: rgb(179, 82, 170);
}

.tituloPrincArreglos {
  color: palevioletred;
  font-weight: bold;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  font-size: 20px;
  padding: 1% 1%;
}

.spaceImgPrinArre {
  padding: 0 10px;
  margin: 5px 5px;
}

.contRegistrar {
  display: flex;
  justify-content: space-around;
  align-items: center;
  align-content: center;
  width: 100%;
  padding: 0;
  margin: 0;
  font-size: 17px;
}
.contRegistrar .formPerfilSelected {
  font-size: 17px;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  color: rgb(99, 46, 55);
  font-weight: bold;
}
.contRegistrar .formPerfilBtn {
  font-size: 22px;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  color: rgb(84, 82, 179);
  background-color: rgb(53, 230, 230);
}
.contRegistrar .tituloPrincipalSub {
  font-size: 18px;
  font-weight: bold;
  color: darkblue;
}

.fontContactos {
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  font-size: 20px;
  color: rgb(99, 46, 55);
  font-weight: bold;
}
.fontContactos .formPerfilBtnContactos {
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  font-size: 20px;
  color: rgb(84, 82, 179);
  background-color: rgb(53, 230, 230);
}

.tituloPrincPeluches {
  color: palevioletred;
  font-weight: bold;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  font-size: 20px;
  padding: 1% 1%;
}

.formatoPoliticas {
  text-align: center;
  text-transform: uppercase;
  font-size: 22px;
}

.subformatoPoliticas {
  text-decoration: underline;
  font-size: 20px;
}

.contenedorPolitcas {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  align-content: center;
  text-align: justify;
  margin-top: 30px;
  margin-bottom: 25px;
}

/*# sourceMappingURL=styles.css.map */
