.formPerfil {
    font-size: 25px;
    @include fuente;


    color: rgb(179, 82, 170);
}

.tituloPrincArreglos {
    color: palevioletred;
    font-weight: bold;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 20px;
    padding: 1% 1%;
}

.spaceImgPrinArre {
    padding: 0 10px;
    margin: 5px 5px;
}