.formPerfil {
    font-size: 25px;
    @include fuente;


    color: rgb(179, 82, 170);
}



.princContenedor {
    display: flex;
    padding: 10px 40px;
}

.spaceImgPrinArre {
    padding: 0 10px;
    margin: 5px 5px;
}