.contenedorCarousel {
    grid-area: carousel;

    @include flex;
    
    .tituloCarousel {
        text-align: center;
        color: brown;


    }

}

.carousel-control-prev-icon,
.carousel-control-next-icon {
    filter: invert(108%);
}