* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {

    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

    body {

        .contenedorPrincipal {
            display: grid;
            grid-template-columns: repeat(4, 0.2fr);
            grid-template-rows: repeat(6, 0.1fr);
            grid-template-areas:
                "perfil perfil perfil perfil "
                "header header header header"
                "carousel carousel carousel carousel"
                "productos productos productos productos"
                "redes redes redes redes"
                "pie pie pie pie"
            ;
            justify-content: center;
            background-color: white;

        }
    }
}

@mixin flex {
    display: flex;
    justify-content: space-around;
    align-items: center;
    align-content: center;
    width: 100%;
    padding: 0;
    margin: 0;
}

@mixin contRedesFooter {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: brown;
    font-size: 15px;
}

@mixin fuente {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 20px;
}

@mixin noStyleDcoration {
    li {
        list-style: none;

        a {
            text-decoration: none;
        }
    }

    .colorLink {
        color: black;

        &:hover {
            color: blueviolet;
            font-weight: bold;
        }
    }
}

.tituloPrincipal {
    color: palevioletred;
    font-weight: bold;
    @include fuente;
    padding: 1% 1%;
}

