 /* TAMAÑO TABLET 768PX */
 @media screen and (max-width:768px) {

     .contenedorPrincipal {

         grid-template-columns: repeat(2, 1fr);
         grid-template-rows: repeat(2, 1fr);
         grid-template-areas:
             "header principal"
             "footer footer"
         ;
     }

     .headerProductos {
         grid-area: header;
         width: 50%;
     }

     .principalProductos {
         grid-area: principal;
         width: 50%;
     }



     .sizePrincImage {
         width: 150px;
         height: 75px;
     }

     .spaceImgPrincipal {
         padding: 0 10px;
         margin: 2px 2px;
     }

     .subtituloPrincipal {
         padding: 0 5px;
         font-size: 15px;

     }

     .prinBtnCarForm {
         border-radius: 0 0 5px 5px;
         padding: 0 0.5px;
     }

     .headerProductosSize {
         font-size: 15px;
     }

     .menu li {
         font-size: 15px;
     }

     .contenedorCarrousel {
         visibility: hidden;
         content-visibility: hidden;
     }

 }

 /* TAMAÑO MOBILE 500PX O MENOS */
 @media screen and (max-width:500px) {
     * {
         margin: 0;
         padding: 0;
         box-sizing: border-box;

     }

     .contenedorPrincipal {
         display: grid;
         grid-template-columns: 1fr;
         grid-template-rows: 0.3fr, 0.2fr 1fr 0.3fr;
         grid-template-areas:
             "perfil"
             "header"
             "productos"
             "footer"
         ;
         justify-content: center;
         place-items: center;
         height: 100vh;

         .perfil {

             .ancho {
                 display: flex;
                 align-items: center;
                 justify-content: center;
             }
         }

         .header {
             .menu {
                 display: flex;
                 flex-wrap: wrap;
             }

         }

         .contenedorCarousel {
             visibility: hidden;
             content-visibility: hidden;
         }

         .productos {

             .princContenedor {
                 display: flex;
                 flex-direction: column;
                 place-items: center;
                 text-align: center;
                 align-items: center;
                 align-content: center;

             }

             .spaceImgPrincipal {
                 padding: 0 1px;
                 margin: 1px 1px;

                 .sizePrincImage {
                     width: 130px;
                     height: 75px;
                 }

                 .subtituloPrincipal {
                     padding: 0 3px;
                     font-size: 10px;

                 }

                 .prinBtnCarForm {
                     border-radius: 0 0 5px 5px;
                     padding: 0 0.5px;
                 }
             }
         }

         .contenedorRedes {
             visibility: hidden;
             content-visibility: hidden;
         }


         .footer {
            
         }
     }

 }