.perfil {
    grid-area: perfil;
    background-color: $bkgdPerfilContPrinc;

    position: fixed;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1;

    .ancho {
        @include flex;

        /*   background-image: url("../assets/img/backgroundPrincipal.jfif");
        background-size: cover; 
 */
        .imagenTitutlo {
            .sizeLogo {
                width: 170px;
                height: 90px;

            }
        }

        .registrarse {
            .iconoInicioSesion {
                width: 28px;
                height: 28px;
            }

            a {
                text-decoration: none;
            }
        }
    }
}