.productos {
    grid-area: productos;

    .tituloPrincipal {
        color: palevioletred;
        font-weight: bold;
        size: 20px;
        padding: 1% 1%;
    }

    .princContenedor {

        @include flex;

        .spaceImgPrincipal {
            padding: 0 1px;
            @include fuente;


            .subtituloPrincipal {
                text-align: center;
                color: yellowgreen;
                font-weight: bold;
                font-size: 20px;

            }

            .sizePrincImage {
                width: 300px;
                height: 280px;
                transition: all 1s;

                &:hover {
                    transform: scale(1.1, 1.1);
                }

            }

            .prinBtnCarForm {
                text-align: center;

                .prinBtnCar {
                    font-size: 12px;
                    cursor: pointer;

                    @include fuente;

                    text-align: center;
                    text-transform: uppercase;
                    color: yellowgreen;
                }
            }

        }

    }
}