 * {
     margin: 0;
     padding: 0;
     box-sizing: border-box;
 }

 html {
     font-size: 62.5%;
     font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
 }

 body {
     width: 100%;
 }

 .contenedorPrincipal {
     display: grid;
     grid-template-columns: repeat(4, 0.2fr);
     grid-template-rows: repeat(6, 0.2fr);
     grid-template-areas:
         "perfil perfil perfil perfil "
         "header header header header"
         "carousel carousel carousel carousel"
         "productos productos productos productos"
         "redes redes redes redes"
         "pie pie pie pie"
     ;
     justify-content: center;
     background-color: white;

 }


 /* ------------------- PERFIL--------------------------- */
 .perfil {
     grid-area: perfil;
     background-color: white;
 }

 .ancho {
     display: flex;
     justify-content: space-around;
     align-items: center;
     align-content: center;
     width: 100%;
     padding: 0;
     margin: 0;
 }

 .sizeLogo {
     width: 170px;
     height: 90px;

 }

 .iconoInicioSesion {
     width: 28px;
     height: 28px;
 }

 a {
     text-decoration: none;
 }

 /* --------------------- HEADER------------------------------ */
 .header {
     grid-area: header;
 }

 .menu {
     background-color: rgb(179, 82, 170);
     font-size: 20px;
     font-family: Verdana, Geneva, Tahoma, sans-serif;
     display: flex;
     justify-content: space-around;
     align-items: center;
     align-content: center;
     width: 100%;
     padding: 0;
     margin: 0;
     list-style: none;
 }

 a {
     text-decoration: none;
     color: gold;
 }

 a:hover {
     color: white;

 }

 input:focus {
     height: 30px;
     background-color: white;
 }

 input[type="checkbox"]:checked {
     box-shadow: 0 0 0 3px white;

 }

 /* ------------------------- CAROUSEL------------------------------- */

 .contenedorCarousel {
     grid-area: carousel;
     width: 100%;
 }

 .tituloCarousel {
     text-align: center;
     color: brown;
 }

 .carousel-control-prev-icon,
 .carousel-control-next-icon {
     filter: invert(108%);
 }


 /* --------------------- PRODUCTOS ----------------------------- */
 .productos {
     grid-area: productos;
 }

 .tituloPrincipal {
     color: palevioletred;
     font-weight: bold;
     size: 20px;
     padding: 1% 1%;
 }

 .princContenedor {
     display: flex;
     justify-content: space-around;
     align-items: center;
     align-content: center;
     width: 100%;
     padding: 0;
     margin: 0;
 }

 .spaceImgPrincipal {
     padding: 0 30px;
     margin: 3px 3px;
 }

 .sizePrincImage {
     width: 300px;
     height: 280px;
 }

 .subtituloPrincipal {
     text-align: center;
     color: yellowgreen;
     font-weight: bold;
     font-size: 20px;

 }

 .prinBtnCarForm {
     text-align: center;
     justify-content: center;
     align-items: center;
     align-content: center;

 }

 .prinBtnCar {
     font-size: 12px;
     cursor: pointer;
     font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
     text-align: center;
     text-transform: uppercase;
     color: yellowgreen;
     justify-content: center;
     align-items: center;
     align-content: center;
 }

 /* --------------------- REDES ----------------------------- */

 .redes {
     grid-area: redes;
     background-color: rgb(247, 200, 207);
     width: 100%;
 }

 .redesContenedor {
     display: flex;
     justify-content: space-around;
     align-items: center;
     align-content: center;
     width: 100%;
     padding: 0;
     margin: 0;
 }

 .arriba {
     font-size: 20px;
     color: black;
 }

 .redesComentario {
     font-size: 20px;
 }

 .redesSizeIcon {
     width: 50px;
     height: 50px;
     margin: 5px;
     border-style: groove;
 }

 /* --------------------- FOOTER ----------------------------- */
 footer {
     grid-area: pie;
     background-color: rgb(230, 237, 245);
     background-image: url(../assets/img/fondoFooter.jfif);
     width: 100%;
 }

 .contenedorFooter {
     display: flex;
     justify-content: space-around;
     align-items: center;
     align-content: center;
     width: 100%;
     padding: 0;
     margin: 0;
     color: brown;
     font-size: 15px;
 }

 footer ul li {
     list-style: none;
     color: black;
 }


 .colorLink {
     color: black;
 }

 .sizeIconEmailFooter {
     width: 30px;
     margin: 3px;
 }

  /* --------------------- ARREGLOS.HTML ----------------------------- */

 .formPerfil {
    font-size: 25px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: rgb(179, 82, 170);
}

.formPerfilSelected {
    font-size: 15px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: pink;
    font-weight: bold;
}

.princContenedor {
    display: flex;
    padding: 10px 40px;
}

.spaceImgPrinArre {
    padding: 0 10px;
    margin: 5px 5px;
}

/* --------------------- MEDIA RESOLUCION ----------------------------- */

 /* TAMAÑO TABLET 768PX */
   @media screen and (max-width:768px) {

     .contenedorPrincipal {

         grid-template-columns: repeat(2, 1fr);
         grid-template-rows: repeat(2, 1fr);
         grid-template-areas:
             "header principal"
             "footer footer"
         ;
     }

     .headerProductos {
         grid-area: header;
         width: 50%;
     }

     .principalProductos {
         grid-area: principal;
         width: 50%;
     }



     .sizePrincImage {
         width: 150px;
         height: 75px;
     }

     .spaceImgPrincipal {
         padding: 0 10px;
         margin: 2px 2px;
     }

     .subtituloPrincipal {
         padding: 0 5px;
         font-size: 15px;

     }

     .prinBtnCarForm {
         border-radius: 0 0 5px 5px;
         padding: 0 0.5px;
     }

     .headerProductosSize {
         font-size: 15px;
     }

     .menu li {
         font-size: 15px;
     }

     .contenedorCarrousel {
         visibility: hidden;
         content-visibility: hidden;
     }

 }

 /* TAMAÑO TABLET 500PX O MENOS */
 @media screen and (max-width:500px) {

     .contenedorPrincipal {

         grid-template-columns: 1fr;
         grid-template-rows: 0.2fr 1fr 0.3fr;
         grid-template-areas:
             "header"
             "principal"
             "footer"
         ;
     }

     .headerProductos {
         grid-area: header;
     }

     .principalProductos {
         grid-area: principal;
     }

     .footer {

         grid-area: footer;
     }

     .sizePrincImage {
         width: 130px;
         height: 75px;
     }

     .spaceImgPrincipal {
         padding: 0 1px;
         margin: 1px 1px;
     }

     .subtituloPrincipal {
         padding: 0 3px;
         font-size: 10px;

     }

     .prinBtnCarForm {
         border-radius: 0 0 5px 5px;
         padding: 0 0.5px;
     }

     .headerProductosSize {
         font-size: 10px;
     }

     .menu li {
         font-size: 10px;
     }

     .contenedorCarrousel {
         visibility: hidden;
         content-visibility: hidden;
     }

 } 
